.modal-wrapper {
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999;
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .modal-container {
    position: fixed;
    border-radius: 12px;
    background: #fff;
    width: 640px;
    flex-shrink: 0;
    padding: 64px;
  }
  