@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.typo {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.banner-bg{
 filter: brightness(.7);
} 

.flight-card{
padding: 24px 16px;
align-items: flex-start;
border-radius: 12px;
background: var(--Neutrals, #FFF);
box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
}