@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://db.onlinewebfonts.com/c/5a0f0898607ff13456025e5ac5aa53df?family=Trade+Gothic+LT+W03+Bold+Ext');
.typo {
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.trade{
  font-family: "Trade Gothic LT W03 Bold Ext";
}

.banner-bg{
 filter: brightness(.7);
} 
body{
  background-color: #FAFBFC;
}

.flight-card{
padding: 24px 16px;
align-items: flex-start;
border-radius: 12px;
background: var(--Neutrals, #FFF);
box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
}